@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img{
	display: block;
}
body{
	width: 100%;
	margin: 0 auto;
}
iframe:{
	display: block;
}